- provide(:title, 'Вход')

.page-header
  %h1.text-center Вход

.row
  .col-md-6.col-md-offset-3
    = form_for(:session, url: login_path) do |f|
      = f.label :email
      = f.email_field :email, class: 'form-control'

      = f.label :password, 'Пароль'
      = link_to '(забыли пароль?)', new_password_reset_path
      = f.password_field :password, class: 'form-control'

      = f.label :remember_me, class: 'checkbox inline' do
        = f.check_box :remember_me
        %span Запомнить меня на этом компьютере

      = f.submit 'Войти', class: 'btn btn-primary'

    %p
      Еще не зарегистрированы?
      = link_to 'Зарегистрироваться', signup_path