%h1 TheResults

%p= "Здравствуйте #{@user.name},"

%p Добро пожаловать на TheResults! Перейдите по ссылке для активации вашей учетной записи

= link_to 'Активировать', edit_account_activation_url(@user.activation_token,
                                                      email: @user.email)