Для сброса вашего пароля перейдите по ссылке ниже:
= edit_password_reset_url(@user.reset_token, email: @user.email)
Срок действия этой ссылки закончится через 2 часа.
Если вы не запрашивали сброс пароля, пожалуйста не обращайте внимания на это
письмо и ваш пароль останется неизменным.