%h1 Сброс пароля

%p Для сброса вашего пароля перейдите по ссылке ниже:

= link_to 'Сбросить пароль', edit_password_reset_url(@user.reset_token,
                                                     email: @user.email)

%p Срок действия этой ссылки закончится через 2 часа.

%p  Если вы не запрашивали сброс пароля, пожалуйста не обращайте внимания на это
письмо и ваш пароль останется неизменным.