- provide(:title, 'Редактирование сезона')

.row
  .col-md-6.col-md-offset-3
    %h1.text-center Редактирование сезона

    = form_for(@season, url: admin_league_season_path(@season.league.id,
                                                      @season.id)) do |f|
      = render 'shared/error_messages', object: @season

      = f.hidden_field :league_id, value: @season.league.id

      .form-group
        = f.label :name, 'Название', class: 'sr-only'
        = f.text_field :name, class: 'form-control', placeholder: 'Название'

      .form-group
        = f.label :started_on, 'Начало'
        .form-inline
          = f.date_select :start_on, { use_two_digit_numbers: true },
                          { class: 'form-control' }

      .form-group
        = f.label :end_on, 'Конец'
        .form-inline
          = f.date_select :end_on, { use_two_digit_numbers: true,
                                    selected: Date.today + 1.year },
                          { class: 'form-control' }

      = f.submit 'Редактировать', class: 'btn btn-lg btn-primary btn-block'