- provide(:title, 'Список сезонов')

%ul.list-group
  - @seasons.each do |season|
    %li.list-group-item
      = link_to season.name, admin_league_season_path(season.league.id,
                                                      season.id)
      .actions.pull-right
        = link_to 'Редактировать',
          edit_admin_league_season_path(season.league.id, season.id)
        |
        = link_to 'Удалить',
                  admin_league_season_path(season.league.id, season.id),
                  method: :delete, data: { confirm: 'Вы уверены?' }

.text-center
  = will_paginate previous_label: 'Предыдущая', next_label: 'Следующая'