- provide(:title, 'Лиги по странам')

%h1 Выберите лигу
- @countries.each do |country|
  %h2= country.name
  %ul.list-group
    - country.leagues.each do |league|
      %li.list-group-item
        = link_to league.name, send(path, league.id)
