%h1.text-center Сезон
%table.table
  %thead
    %tr
      %th Название
      %th Начало
      %th Конец
      %th Лига
      %th Страна
      %th ЧПУ
  %tbody
    %tr
      %td= @season.name
      %td= l @season.start_on
      %td= l @season.end_on
      %td= @season.league.name
      %td= @season.league.country.name
      %td= @season.slug
