%header#header
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .row
        .col-lg-3
          .navbar-header
            = link_to 'TheResults.ru', root_path, class: 'logo navbar-brand'
        .col-lg-6
          = form_tag(search_path, method: :get, remote: true, id: :search,
                     class: 'navbar-form', role: :search) do
            .form-group
              %span.glyphicon.glyphicon-search{'aria-hidden' => 'true'}
              = search_field_tag :q, nil, class: 'form-control',
                                 placeholder: 'Искать матч',
                                 autocomplete: 'off'
            %ul#searchResults.list-group
        .col-lg-3