- provide(:title, "Редактирование #{@league.name}")

.row
  .col-md-6.col-md-offset-3
    %h1.text-center Редактирование лиги

    = form_for(@league, url: admin_league_path(@league.id),
               html: { multipart: true }) do |f|
      = render 'shared/error_messages', object: @league

      .form-group
        = f.text_field :name, class: 'form-control', placeholder: 'Название'

      .form-group
        = f.text_field :slug, class: 'form-control', placeholder: 'ЧПУ'

      .form-group
        = f.label :country, 'Страна'
        = f.collection_select(:country_id, @countries, :id, :name, {}, class: 'form-control')

      .form-group
        = f.label :logo, 'Лого'
        = f.file_field :logo

      = f.submit 'Редактировать', class: 'btn btn-lg btn-primary btn-block'