- provide(:title, 'Список лиг')

- @countries.each do |country|
  %h2= country.name
  %ul.list-group
    - country.leagues.each do |league|
      %li.list-group-item
        = link_to league.name, admin_league_path(league.id)
        .actions.pull-right
          = link_to 'Редактировать', edit_admin_league_path(league.id)
          |
          = link_to 'Удалить', admin_league_path(league.id), method: :delete,
                    data: { confirm: 'Вы уверены?' }