- provide(:title, 'Добавление лиги')

.row
  .col-md-6.col-md-offset-3
    %h1.text-center Добавление лиги

    = form_for([:admin, @league], html: { multipart: true }) do |f|
      = render 'shared/error_messages', object: @league

      .form-group
        = f.text_field :name, class: 'form-control', placeholder: 'Название'

      .form-group
        = f.text_field :slug, class: 'form-control', placeholder: 'ЧПУ'

      .form-group
        = f.label :country, 'Страна'
        = f.collection_select(:country_id, @countries, :id, :name, {}, { class: 'form-control' })

      .form-group
        = f.label :logo, 'Лого'
        = f.file_field :logo

      = f.submit 'Добавить', class: 'btn btn-lg btn-primary btn-block'