- provide(:title, @league.name)

%h1.text-center Лига
%table.table
  %thead
    %tr
      %th Название
      %th ЧПУ
      %th Страна
      %th Лого
  %tbody
    %tr
      %td= @league.name
      %td= @league.slug
      %td= link_to @league.country.name, [:admin, @league.country]
      %td= image_tag @league.logo.url