- provide(:title, 'Список матчей по сезонам')

%ul.list-group
- @matches.each do |match|
  %li.list-group-item
    = link_to match.title,
              admin_league_match_path(match.season.league.id, match.id)
    .actions.pull-right
      = link_to 'Редактировать',
                edit_admin_league_match_path(match.season.league.id, match.id)
      |
      = link_to 'Удалить',
                admin_league_match_path(match.season.league.id, match.id),
                method: :delete,
                data: { confirm: 'Вы уверены?' }
.text-center
  = will_paginate previous_label: 'Предыдущая', next_label: 'Следующая'