- provide(:title, 'Сезоны по лигам и странам')

%h1 Выберите сезон лиги
- @countries.each do |country|
  .country
    %h2= country.name
    - country.leagues.each do |league|
      .league
        %h3= league.name
        %ul.list-group
          - league.seasons.each do |season|
            %li.list-group-item
              - if path == :admin_league_season_matches_path
                = link_to season.name, send(path, league.id, season.id)
              - else
                = link_to season.name, send(path, league.id)
