- provide(:title, 'Добавление матча')

.row
  .col-md-6.col-md-offset-3
    %h1.text-center Добавление матча

    = form_for(@match, url: admin_league_matches_path(@league.id)) do |f|
      = render 'shared/error_messages', object: @match

      .form-group
        = f.label :started_on, 'Дата'
        .form-inline
          = f.date_select :play_date, { use_two_digit_numbers: true }, class: 'form-control'

      .form-group
        = f.label :home_id, 'Клуб хозяин'
        = f.collection_select(:home_id, @clubs, :id, :name, {}, class: 'form-control')

      .form-group
        = f.label :away_id, 'Клуб гость'
        = f.collection_select(:away_id, @clubs, :id, :name, {}, class: 'form-control')

      .form-inline
        = f.text_field :home_score, class: 'form-control', placeholder: 'Голы хозяина'
        %span.colon :
        = f.text_field :away_score, class: 'form-control', placeholder: 'Голы гостей'

      .form-inline
        = f.text_field :home_penalty, class: 'form-control', placeholder: 'Пенальти хозяина'
        %span.colon :
        = f.text_field :away_penalty, class: 'form-control', placeholder: 'Пенальти гостей'
        %p.help-block
          Если отсутсвовали послематчевые пенальти поля оставлять пустыми

      .form-group
        = f.label :video, 'Видео', class: 'sr-only'
        = f.text_area :video, class: 'form-control', placeholder: 'Видео'

      .form-group
        = f.label :season_id, 'Сезон'
        = f.collection_select(:season_id, @seasons, :id, :name, {}, { class: 'form-control' })

      = f.submit 'Добавить', class: 'btn btn-lg btn-primary btn-block'