- provide(:title, @match.title)

%h1.text-center Матч
%table.table
  %tbody
    %tr
      %th Дата
      %td= l @match.play_date
    %tr
      %th Лига
      %td= @match.season.league.name
    %tr
      %th Сезон
      %td= @match.season.name
    %tr
      %th Клуб хозяин
      %td= @match.home.name
    %tr
      %th Клуб гость
      %td= @match.away.name
    %tr
      %th Счёт
      %td= "#{@match.home_score} : #{@match.away_score}"
    - if @match.home_penalty.present?
      %tr
        %th Послематчевые пенальти
        %td= "#{@match.home_penalty} : #{@match.away_penalty}"
    %tr
      %th Видео
      %td= raw @match.video
