%header#header
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      = link_to 'TheResults.ru', admin_root_path, class: 'logo navbar-brand'
      %ul.nav.navbar-nav.navbar-left
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => :dropdown,
                             role: :button, 'aria-haspopup' => :true,
                             'aria-expanded' => :false}
            Страна <span class="caret"></span>
          %ul.dropdown-menu
            %li= link_to 'Добавить', new_admin_country_path
            %li= link_to 'Редактировать/Удалить', admin_countries_path
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => :dropdown,
                             role: :button, 'aria-haspopup' => :true,
                             'aria-expanded' => :false}
            Лига <span class="caret"></span>
          %ul.dropdown-menu
            %li= link_to 'Добавить', new_admin_league_path
            %li= link_to 'Редактировать/Удалить', admin_leagues_path
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => :dropdown,
                              role: :button, 'aria-haspopup' => :true,
                              'aria-expanded' => :false}
            Клуб <span class="caret"></span>
          %ul.dropdown-menu
            %li= link_to 'Добавить', new_admin_club_path
            %li= link_to 'Редактировать/Удалить', admin_clubs_path
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => :dropdown,
                              role: :button, 'aria-haspopup' => :true,
                              'aria-expanded' => :false}
            Сезон <span class="caret"></span>
          %ul.dropdown-menu
            %li= link_to 'Добавить', new_admin_season_path
            %li= link_to 'Редактировать/Удалить', admin_seasons_path
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => :dropdown,
                              role: :button, 'aria-haspopup' => :true,
                              'aria-expanded' => :false}
            Матч <span class="caret"></span>
          %ul.dropdown-menu
            %li= link_to 'Добавить', new_admin_match_path
            %li= link_to 'Редактировать/Удалить', admin_matches_path
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => :dropdown,
                              role: :button, 'aria-haspopup' => :true,
                              'aria-expanded' => :false}
            Аккаунт <span class="caret"></span>
          %ul.dropdown-menu
            %li= link_to 'Профиль', admin_user_path(@current_user)
            - if @current_user.role == 'admin'
              %li= link_to 'Пользователи', admin_users_path
            %li= link_to 'Выйти', logout_path, method: :delete