- provide(:title, "Видео обзоры футбольных матчей - #{@league.name}")
- provide(:description, "Видео обзоры футбольных матчей - #{@league.name}")
.page-header
  %h1.text-center Последние добавленные обзоры - #{@league.name}
.row
  .col-lg-4
    = render 'site/shared/leagues_dropdown', heading: @league.name,
        last_seasons: @last_seasons, all_leagues_path: root_path
  .col-lg-4
    = render 'site/shared/seasons_dropdown', heading: 'Все сезоны',
        seasons: @seasons, all_seasons_path: nil
#matches
  = render @matches
#standardPagination
  = will_paginate @matches, previous_label: 'Предыдущая', next_label: 'Следующая'
- if @matches.next_page
  .text-center
    %button#loadMore.btn.btn-primary{type: 'button'} Зарузить ещё