- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      = "#{t('validate_errors.error', count: object.errors.count)}:"
      %ol
        - object.errors.full_messages.each do |msg|
          %li= msg