%a.match{href: match_path(match.season.league, match)}
  %header #{match.season.league.name} — #{match.season.name}
  .content
    .row
      .col-lg-5
        .club.home{class: home_outcome(match)}
          = match.home.name
          %span.city.text-muted (#{match.home.city})
          %img.fc-logo{src: match.home.logo.url, height: 90}
      .col-lg-2
        .result{class: match.penalties? ? 'with-penalties' : ''}
          %span{class: home_outcome(match)}= match.home_score
          \:
          %span{class: away_outcome(match)}= match.away_score
          - if match.penalties?
            .penalties
              = surround '(', ')' do
                %span{class: home_outcome(match)}= match.home_penalty
                \:
                %span{class: away_outcome(match)}= match.away_penalty
      .col-lg-5
        .club.away{class: away_outcome(match)}
          %img.fc-logo{src: match.away.logo.url, height: 90}
          = match.away.name
          %span.city.text-muted (#{match.away.city})
      .col-lg-12.date
        %time.play{datetime: match.play_date}= l match.play_date