%li.list-group-item
  %a{href: match_path(search_result.season.league.slug, search_result)}
    .header #{search_result.season.league.name} — #{search_result.season.name}
    .club.home
      %span{class: home_outcome(search_result)}= search_result.home.name
      %span.city.text-muted (#{search_result.home.city})
      %img{src: search_result.home.logo.url, height: 35}
    .result{class: search_result.penalties? ? 'with-penalties' : ''}
      %span{class: home_outcome(search_result)}= search_result.home_score
      \:
      %span{class: away_outcome(search_result)}= search_result.away_score
      - if search_result.penalties?
        .penalties
          = surround '(', ')' do
            %span{class: home_outcome(search_result)}<
              = search_result.home_penalty
            \:
            %span{class: away_outcome(search_result)}<
              = search_result.away_penalty
    .club.away
      %img{src: search_result.away.logo.url, height: 35}
      %span{class: away_outcome(search_result)}= search_result.away.name
      %span.city.text-muted (#{search_result.away.city})
    .date= l search_result.play_date