- provide(:title, 'Видео обзоры футбольных матчей')
- provide(:description, 'Видео обзоры футбольных матчей')
.page-header
  %h1.text-center Последние добавленные обзоры
- if @last_seasons.present?
  .row
    .col-lg-4
      = render 'site/shared/leagues_dropdown', heading: 'Все лиги',
          last_seasons: @last_seasons, all_leagues_path: nil
#matches
  = render @matches
#standardPagination
  = will_paginate previous_label: 'Предыдущая', next_label: 'Следующая'
- if @matches.next_page
  .text-center
    %button#loadMore.btn.btn-primary{type: 'button'} Зарузить ещё