- provide(:title, @match.title + ' обзор матча')
- provide(                                                          |
          :description, 'Видео обзор матча ' + @match.title + ' ' + |
          @match.season.league.name + ' ' + @match.season.name)     |

.match
  .content
    .row
      .colg-lg-12
        %h1.text-center= @match.title + ' обзор матча'
        %hr
      .col-lg-12
        %ol.breadcrumb
          %li
            = link_to @match.season.league.name,
                       league_matches_path(@match.season.league)
          %li
            = link_to @match.season.name,
                        season_matches_path(@match.season.league, @match.season)
      .col-lg-5
        .club.home{class: home_outcome(@match)}
          = @match.home.name
          %span.city.text-muted (#{@match.home.city})
          %img.fc-logo{src: @match.home.logo.url, height: 90}
      .col-lg-2.text-center
        .result{class: @match.penalties? ? 'with-penalties' : ''}
          %span{class: home_outcome(@match)}= @match.home_score
          \:
          %span{class: away_outcome(@match)}= @match.away_score
          - if @match.penalties?
            .penalties
              = surround '(', ')' do
                %span{class: home_outcome(@match)}= @match.home_penalty
                \:
                %span{class: away_outcome(@match)}= @match.away_penalty
      .col-lg-5
        .club.away{class: away_outcome(@match)}
          %img.fc-logo{src: @match.away.logo.url, height: 90}
          = @match.away.name
          %span.city.text-muted (#{@match.away.city})
      .col-lg-12
        %h3.text-center Видео
        .video= raw @match.video
      .col-lg-12
        / Put this div tag to the place, where the Comments block will be
        %h3.text-center Комментарии
        #vk_comments
        %script{type: 'text/javascript'}
          VK.Widgets.Comments("vk_comments", {limit: 10, width: "665",
          attach: "*"}, #{@match.id});