- provide(:title, 'Редактирование клуба')

.row
  .col-md-6.col-md-offset-3
    %h1.text-center Редактирование клуба

    = form_for(@club, url: admin_club_path(@club.id),
               html: { multipart: true }) do |f|
      = render 'shared/error_messages', object: @club

      .form-group
        = f.label :name, 'Название', class: 'sr-only'
        = f.text_field :name, class: 'form-control', placeholder: 'Название'

      .form-group
        = f.label :country, 'Страна'
        = f.collection_select(:country_id, @countries, :id, :name, {},
                              { class: 'form-control' })

      .form-group
        = f.label :city, 'Город', class: 'sr-only'
        = f.text_field :city, class: 'form-control', placeholder: 'Город'

      .form-group
        = f.label :logo, 'Лого'
        = f.file_field :logo

      = f.submit 'Редактировать', class: 'btn btn-lg btn-primary btn-block'