- provide(:title, 'Список стран')

- @countries.each do |country|
  %h2= country.name
  %ul.list-group
    - country.clubs.each do |club|
      %li.list-group-item
        = link_to club.name, admin_club_path(club.id)
        .actions.pull-right
          = link_to 'Редактировать', edit_admin_club_path(club.id)
          |
          = link_to 'Удалить', admin_club_path(club.id), method: :delete,
                    data: { confirm: 'Вы уверены?' }
