- provide(:title, @club.name)

%h1.text-center Лига
%table.table
  %thead
    %tr
      %th Название
      %th Страна
      %th Город
      %th Лого
  %tbody
    %tr
      %td= @club.name
      %td= link_to @club.country.name, [:admin, @club.country]
      %td= @club.city
      %td= image_tag @club.logo.url
