// Place all the styles related to the admin/matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colon {
  position: relative;
  top: -4px;
}

.country {
  .league {
    margin-left: 10px;
  }
}

.pagination {
  text-align: center;
}
