// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  margin-bottom: 10px;
}

.btn.btn-primary {
  margin-bottom: 5px;
  width: 100%;
}

.checkbox {
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}