@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 60px;
}

.logo {
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
}

#main {
  margin-bottom: 80px;

  #error_explanation {
    ol {
      padding-left: 20px;
    }
  }

  .field_with_errors {
    @extend .has-error;

    .form-control {
      z-index: 2;
      color: $state-danger-text;

      &:focus {
        z-index: 3;
      }
    }
  }

  .flag {
    border: 1px solid #ddd;
  }

  .form-inline {
    .field_with_errors {
      display: inline;
    }
  }
}