// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signup {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;

  .form-signup-heading {
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin-bottom: -1px;
    border-radius: 0;
  }

  .form-control.first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

    &:focus {
      z-index: 2;
    }
  }

  .form-control.last {
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

