- provide(:title, "Редактирование #{@country.name}")

.row
  .col-md-6.col-md-offset-3
    %h1.text-center Редактирование страны

    = form_for([:admin, @country], html: { multipart: true }) do |f|
      .form-group
        = f.label :name, 'Название', class: 'sr-only'
        = f.text_field :name, class: 'form-control', placeholder: 'Название'

      .form-group
        = f.label :flag, 'Флаг'
        = f.file_field :flag

      = f.submit 'Редактировать', class: 'btn btn-lg btn-primary btn-block'