- provide(:title, 'Список лиг')

%ul.list-group
  - @countries.each do |country|
    %li.list-group-item
      = link_to country.name, [:admin, country]
      .actions.pull-right
        = link_to 'Редактировать', edit_admin_country_path(country)
        |
        = link_to 'Удалить', [:admin, country], method: :delete,
                  data: { confirm: 'Вы уверены?' }
