- provide(:title, 'Добавление страны')

.row
  .col-md-6.col-md-offset-3
    %h1.text-center Добавление страны

    = form_for([:admin, @country], html: { multipart: true }) do |f|
      = render 'shared/error_messages', object: @country

      .form-group
        = f.label :name, 'Название', class: 'sr-only'
        = f.text_field :name, class: 'form-control', placeholder: 'Название'

      .form-group
        = f.label :flag, 'Флаг'
        = f.file_field :flag

      = f.submit 'Добавить', class: 'btn btn-lg btn-primary btn-block'