- provide(:title, @country.name)

%h1.text-center Страна
%table.table
  %thead
    %tr
      %th Название
      %th Флаг
  %tbody
    %tr
      %td= @country.name
      %td= image_tag(@country.flag.url, class: 'flag')