.dropdown
  %button.btn.btn-default.dropdown-toggle{type: 'button',
                                          'data-toggle' => 'dropdown'}
    = heading
    %span.caret
  %ul.dropdown-menu
    - clubs.each do |club|
      %li
        = link_to club.name, club_matches_path(@league, @season, club)
    - if all_clubs_path.present?
      %li
        = link_to 'Все клубы', all_clubs_path
