.dropdown
  %button.btn.btn-default.dropdown-toggle{type: 'button',
                                          'data-toggle' => 'dropdown'}
    = heading
    %span.caret
  %ul.dropdown-menu
    - @last_seasons.each do |season|
      %li
        = link_to season.league.name, season_matches_path(season.league, season)
    - if all_leagues_path.present?
      %li
        = link_to 'Все лиги', all_leagues_path