.dropdown
  %button.btn.btn-default.dropdown-toggle{type: 'button',
                                          'data-toggle' => 'dropdown'}
    = heading
    %span.caret
  %ul.dropdown-menu
    - seasons.each do |season|
      %li
        = link_to season.name, season_matches_path(season.league, season)
    - if all_seasons_path.present?
      %li
        = link_to 'Все сезоны', all_seasons_path
