- provide(:title, "Видео обзоры футбольных матчей - #{@league.name} - #{@season.name}")
- provide(:description, "Видео обзоры футбольных матчей - #{@league.name} - #{@season.name}")
.page-header
  %h1.text-center Последние добавленные обзоры - #{@league.name} - #{@season.name}
.row
  .col-lg-4
    = render 'site/shared/leagues_dropdown', heading: @league.name,
        last_seasons: @last_seasons, all_leagues_path: root_path
  .col-lg-4
    = render 'site/shared/seasons_dropdown', heading: @season.name,
        seasons: @seasons, all_seasons_path: league_matches_path(@league)
  .col-lg-4
    = render 'site/shared/clubs_dropdown', heading: @club.name, clubs: @clubs,
        all_clubs_path: season_matches_path(@league, @season)
#matches
  = render @matches
#standardPagination
  = will_paginate @matches, previous_label: 'Предыдущая', next_label: 'Следующая'
- if @matches.next_page
  .text-center
    %button#loadMore.btn.btn-primary{type: 'button'} Зарузить ещё