- provide(:title, 'Регистрация')

.page-header.text-center
  %h1 Регистрация
  %span
    Уже зарегистрированы?
    = link_to 'Войти', login_path

= form_for(@user, url: signup_path, html: {class: 'form-signup'}) do |f|
  = render 'shared/error_messages', object: @user

  = f.label :name, 'Ник', class: 'sr-only'
  = f.text_field :name, class: 'form-control first', placeholder: 'Ник'

  = f.label :email, class: 'sr-only'
  = f.email_field :email, class: 'form-control', placeholder: 'Email'

  = f.label :password, 'Пароль', class: 'sr-only'
  = f.password_field :password, class: 'form-control', placeholder: 'Пароль'

  = f.label :password_confirmation, 'Подтверждение пароля', class: 'sr-only'
  = f.password_field :password_confirmation, class: 'form-control last',
                     placeholder: 'Подтверждение пароля'

  = f.submit 'Зарегистрироваться', class: 'btn btn-lg btn-primary btn-block'