%h1 Контакты
.row
  .col-md-8
    .pull-left
      %h2 Редакция
      %p
        Редакционный отдел,
        %a{href: 'mailto:editors@theresults.ru'} content@theresults.ru
      %h2 Администрация
      %p
        Администрация,
        %a{href: 'mailto:editors@theresults.ru'} admin@theresults.ru
    .pull-right
      %h2 Разработка
      %p
        Технические отдел,
        %a{href: 'mailto:tech@theresults.ru'} tech@theresults.ru
