- provide(:title, 'Редактирование роли пользователя')

.row
  .col-md-6.col-md-offset-3
    %h1.text-center Редактирование роли пользователя

    = form_for(@user, url: admin_user_path(@user.id)) do |f|
      = render 'shared/error_messages', object: @user

      .form-group
        = f.label :role, 'Роль'
        .form-inline
          = f.select :role, options_for_select([['Пользователь', 'user'],
                                                ['Журналист', 'journalist'],
                                                ['Модератор', 'moderator'],
                                                ['Администратор', 'admin']])

      = f.submit 'Редактировать', class: 'btn btn-lg btn-primary btn-block'