- provide(:title, 'Список пользователей сайта')

- if @users.blank?
  %p Пользователи отсутсвуют
- else
  %ul.list-group
    - @users.each do |user|
      %li.list-group-item
        = link_to user.name, admin_user_path(user.id)
        .actions.pull-right
          = link_to 'Редактировать', edit_admin_user_path(user.id)
          |
          = link_to 'Удалить', admin_user_path(user.id), method: :delete,
                    data: { confirm: 'Вы уверены?' }
  .text-center
    = will_paginate previous_label: 'Предыдущая', next_label: 'Следующая'