#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f3f3f3;
}

#footer ul {
  margin: 0;
  padding: 0;
  line-height: 59px;
  list-style-type: none;
}

#footer ul li {
  display: inline;
  padding: 0 2px;
}