#header .navbar {
  background-color: #f8f8f8;
}

#search {
  position: relative;
  padding: 0;

  .form-group {
    position: relative;
    display: block;
  }

  input {
    padding-left: 27px;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .glyphicon.glyphicon-search {
    position: absolute;
    top: 10px;
    left: 8px;
  }

  #searchResults {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    li:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    li {
      padding: 0;

      a {
        display: block;
        position: relative;
        padding: 10px;
        font-size: 12px;

        .header {
          text-align: center;
        }

        .club {
          display: inline-block;
          width: 43%;

          &.home {
            text-align: right;
          }

          &.away {
            text-align: left;
          }

          .city {
            font-size: 10px;
          }
        }

        .result {
          display: inline-block;
          position: relative;
          top: 4px;
          margin: 0 5px;
          width: 10%;
          text-align: center;
          font-size: 16px;
          line-height: 16px;
          color: #333;
        }

        .result.with-penalties {
          top: 10px;

          .penalties {
            font-size: 13px;
          }
        }

        .date {
          text-align: center;
        }

        &:hover {
          border-color: #66afe9;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
          0 0 8px rgba(102, 175, 233, 0.6);
          text-decoration: none;
          z-index: 2;
        }
      }
    }
  }
}