// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.winner {
  color: #3c763d;
}

.loser {
  color: #a94442;
}

.match {
  margin: 15px 0;

  @at-root a#{&} {
    display: block;
    padding: 10px 15px 15px 15px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    overflow: hidden;
    color: #333;
  }

  header {
    text-align: center;
    font-size: 16px;
  }

  .content {
    margin-top: 10px;

    .club {
      font-size: 22px;

      .city {
        position: relative;
        top: -2px;
        font-size: 0.6em;
      }
    }

    .club.home {
      text-align: right;
    }

    .club.away {
      text-align: left;
    }

    .result {
      margin-top: 8px;
      font-size: 4em;
      text-align: center;

      &.with-penalties {
        margin-top: -8px;
      }

      .penalties {
        margin-top: -18px;
        font-size: 22px;
      }
    }
  }

  .date {
    text-align: center;
    font-size: 16px;
  }

  @at-root a#{&}:hover {
    border-color: #337ab7;
    box-shadow: 0 0 3px 1px #ccc;
    text-decoration: none;
    color: #333;
  }

  .video {
    margin: 15px auto;
    width: 640px;
  }

  #vk_comments {
    margin: 15px auto;
  }
}