@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 60px;
}

.logo {
  font-size: 22px;
  text-shadow: 1px 1px 0 #fff;
  font-family: 'Ubuntu', sans-serif;
}

#main {
  margin-bottom: 90px;

  h1 {
    font-size: 28px;
  }

  #standardPagination {
    text-align: center;

    .pagination {
      margin: 0;
      padding: 0;
    }
  }
}

#loadMore {
  display: none;
}