!!!
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport",
          :content => "width=device-width, initial-scale=1"}
    %title= full_title(yield(:title))
    = stylesheet_link_tag    'admin', media: 'all',
                                            'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/admin/header'
    %main#main{:role => "main"}
      .container
        - flash.each do |msg_type, msg|
          .alert{class: "alert-#{msg_type}"}= msg
        = yield
    = render 'layouts/admin/footer'