!!!
%html{lang: 'ru'}
  %head
    %meta{charset: 'UTF-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title= full_title(yield(:title))
    %meta{name: 'description', content: yield(:description)}
    = stylesheet_link_tag    'application', media: 'all',
                                            'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    / Put this script tag to the <head> of your page
    = javascript_include_tag '//vk.com/js/api/openapi.js?116'
    %script{type: 'text/javascript'}
      VK.init({apiId: 5003222, onlyWidgets: true});
    = csrf_meta_tags
    = favicon_link_tag
  %body
    = render 'layouts/site/header'
    %main#main{role: 'main'}
      .container= yield
    = render 'layouts/site/footer'